:root {
  --color-1: #ff0000;
  --color-2: #00f7fff1;
  --color-3: #00ff15;
  --color-4: #f70303f1;
  --color-5: #00eaff;
  --color-6: #0004ff;
  --color-7: #f70354f1;
  --color-8: #0004ff;
  --color-9: #f70354f1;
  --color-10: #0004ff;
  --angle: 0deg;
}

body {
  height: 100vh;

  background-color: hsla(325, 91%, 49%, 0.561);
  background-image: url("https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png"),
    url("https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png"),
    url("https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png");
  background-repeat: repeat-x;
  background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
  background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
  animation: 75s para infinite linear;
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 6vw;
  font-weight: 900;
  line-height: 5vw;
  text-transform: uppercase;
  word-spacing: 3vw;
  background: linear-gradient(
    var(--angle),
    var(--color-6) 19%,
    transparent 19%,
    var(--color-7) 20%,
    var(--color-7) 39%,
    transparent 39%,
    var(--color-8) 40%,
    var(--color-8) 59%,
    transparent 59%,
    var(--color-9) 60%,
    var(--color-9) 79%,
    transparent 79%,
    var(--color-10) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: 40s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.navImg {
  width: 7em;
  height: 4em;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2vw;
  font-weight: 900;

  text-transform: uppercase;

  background: linear-gradient(
    var(--angle),
    var(--color-6) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-7) 20%,
    var(--color-7) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-8) 40%,
    var(--color-8) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-9) 60%,
    var(--color-9) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-10) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: 15s rotate linear infinite;
}

h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 6.5vw;
  font-weight: 900;
  line-height: 6vw;
  text-transform: uppercase;
  word-spacing: 1vw;

  background: linear-gradient(
    var(--angle),
    var(--color-1) 19%,
    transparent 19%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: 5s rotate linear infinite;
}
input {
  width: 100%;
  background-color: transparent;
  text-align: center;
  font-stretch: expanded;

  color: rgb(144, 54, 167);
  font-weight: 700;
  border-color: rgb(75, 75, 75);
}
button {
  height: 320px;
  width: 320px;

  background-color: transparent;
}
button img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  margin: 1em;
}
.divButton {
  display: flex;
  overflow: auto;
}
.scrollable-element {
  scrollbar-color: black;
}
h4 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 6.5vw;
  font-weight: 900;

  text-transform: uppercase;

  background: linear-gradient(
    var(--angle),
    var(--color-1) 19%,
    transparent 19%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: 5s rotate linear infinite;
}
h5 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 6.5vw;
  font-weight: 900;

  text-transform: uppercase;

  background: linear-gradient(
    var(--angle),
    var(--color-6) 19%,
    transparent 19%,
    var(--color-7) 20%,
    var(--color-7) 39%,
    transparent 40%,
    var(--color-8) 40%,
    var(--color-8) 59%,
    transparent 60%,
    var(--color-9) 60%,
    var(--color-9) 79%,
    transparent 79%,
    var(--color-10) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: 5s rotate linear infinite;
}
